.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28));
  background-size: cover;
  background-position: top;
  color: $color-primary;
  font-family: "Almarai", sans-serif;

  @media only screen and (max-width: $bp-large) {
    height: 80vh;
  }

  &__img{

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    direction: ltr;
    width: 60%;

    @media only screen and (max-width: $bp-large) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      direction: ltr;
      width: 100%;
    }
  }
}

/*SOCAIL INFORMATION*/
.social{
  position: fixed;
  top: 25rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 0.3rem 0 0 0.3rem;
  overflow: hidden;


  &__link:link,
  &__link:visited {
    text-align: center;
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 3.5rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
  }

  &__link:hover{
    opacity: 0.9;
  }

  .facebook{
    background-color: #4267B2;
  }
  .whatsapp{
    background-color: #25d366;
  }
  .gmail{
    background-color: #FF0000;
  }

  .linked{
    background-color: #2867B2;
  }
}
/*SOCAIL INFORMATION*/

/*BURGER*/
.burger-container{

  @media only screen and (max-width: $bp-large) {
    display: flex;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);

    &:active{
      background-color: rgb(39, 39, 39);
    }
  }

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0.8rem 0.9rem;
}

.bar1,
.bar2,
.bar3{
  width: 20px;
  height: 2px;
  background-color: #fff;
  z-index: 20;
  &:not(:last-child){
    margin-bottom: 2px;
  }
}

.close{
  transform: rotate(90deg);
}

/*BURGER*/

/*FIXED NAVBAR*/
.stick {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 999;
}

.stick.nav{
  padding: 1.8rem 14rem;

}
/*FIXED NAVBAR*/


.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 14rem;
  transition: all 0.6s;

  @media only screen and (max-width: $bp-large) {
  height: 7rem;  
  background-color: #000;
  position: relative;
  z-index: 1000;

  &__list{
    position: absolute;
    top: -37rem;
    left: 0;
    flex-direction: column;
    width: 70%;
    z-index: 10;
    background-color: #000;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 1;



      &-item {
        display: inline-block !important;
        padding: 1.1rem !important;
        margin-bottom: 0.2rem;
        border-bottom: 1px solid rgb(51, 51, 51);
        z-index: 1;
        transition: all 0.3s;
        &:hover{
          padding-right: 2rem !important;
        }
      }

  }

  }

  @media only screen and (max-width: $bp-medium) {
    padding: 1.8rem 8rem;
  }

  .drop{
    top: 7rem !important;

  }

  &__list {
    display: flex;
    list-style: none;
    font-size: 1.8rem;

    &-item {
      padding: 0rem 1rem;
    }

    &-link:link,
    &-link:visited {
      
      color: $color-primary;
      text-decoration: none;
      text-align: center;
      transition: all 0.2s;


      &:hover,
      &:active {
        color: rgb(199, 199, 199);
      }
    }
  }
}

.logo {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Almarai", sans-serif;
  font-weight: bold;
}
